## Week2 Python Programming

In week2, we've covered:
* Create **variables** 
* Different **data types**:
    * int
    * float
    * boolean
    * string
* Import **standard library**:
    * math

The best way to consolidate the knowledge in your mind is by practicing.<br>Please complete the part marked with <span style="color:green">**# TODO**</span>.

[Google](www.google.com) and [Python Documentation](https://docs.python.org/3/contents.html) are your good friends if you have any python questions.

Upload **Week2_PythonProgramming_Homework.ipynb** notebook to your Google Drive and open it with Google Colab.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter. 

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

## Assignment


The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assign an `int` to a variable with name `x` and print its type.

In [0]:
# TODO
x = 2
type(x)

int

Assign a new value with `string` type to the same varaible `x` and print its type.

In [0]:
# TODO
x = "jake williams"
type(x)

str

Print the value of a variable that has not been defined, see what error do you get:

In [0]:
# TODO
type(y)

NameError: ignored

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

Print the sum, difference, mutplication, and divison between `1` and `2`.

In [4]:
# TODO  
print(1 + 2)
print(1 - 2)
print(1 * 2)
print(1 / 2)

3
-1
2
0.5

Carry out Interger division of two float numbers.

In [5]:
# TODO  
float(1)/float(2)

0.5

What is the value of `2` Power `15`?

In [6]:
# TODO
2**5

32

Are the types of `1+2` and `1.0+2` the same?

In [8]:
# TODO
# no, one is int, one is float
type(3)
type(3.0)

float

* The boolean operators are spelled out as the words `and`, `not`, `or`.

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

Compare two boolean `True` and `False`

In [9]:
# TODO
True == False

False

Use `False` to get `True`

In [11]:
# TODO
False == False

True

Inclue both `False` and `True` in your code to get `True`

In [13]:
# TODO
False or True

True

Use two different ways: `==` and `is` to check if `l1` and `l2` is identical.

In [15]:
# TODO
l1 = [1, 2]
l2 = [1, 2.0]
l1 == l2
l1 is l2

False

## Strings

Strings are the variables type that is used for storing text messages.

Create three string variables, and use one `print` to display all three variables.

In [18]:
# TODO
x = "These are"
y = "string"
z = "variables."

print(x,y,z)

These are string variables.

Check the length of "Hello world!".

In [19]:
# TODO
len("Hello world!")

12

Get the index `0`character in a string.

In [24]:
# TODO
x = "Jake"
print(x[0])

J

Get the first 3 characters in a string.

In [26]:
# TODO
x = "Jake"
print(x[0:3])

Jak

Use a start index and a stop index to get the fifth character in a string.

In [30]:
# TODO
s = "Red Ventures"
print(s[4:5])

V

Get the last character in a string.

In [34]:
# TODO
s = "Charlotte"
print(s[8:])

e

#### Escape characters
In Python strings, the backslash "\\" is a special character, also called the **"escape"** character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a newline, and "\r" is a carriage return. Conversely, prefixing a special character with "\" turns it into an ordinary character.

Print out the following strings:
<pre>
'    Everything is written in pencil.'

'Everything is written
 in pencil.'
 
'Everything \ is written \ in pencil.'

'Red Ventures brands, just list a few:
   * Bankrate
   * Reviews.com
   * the Points Guy
   * creditcards.com'
</pre>

In [40]:
# TODO
print("\t Everthing is written in pencil.")

print("Everything is written \n in pencil.")

print("Everything \\ is written \\ in pencil.")

print("Red Ventures brands, just list a few:\n \t* Bankrate\n \t* Reviews.com\n \t* the Points Guy\n \t* creditcards.com")

	 Everthing is written in pencil.
Everything is written
 in pencil.
Everything \ is written \ in pencil.
Red Ventures brands, just list a few:
 	* Bankrate
 	* Reviews.com
 	* the Points Guy
 	* creditcards.com

#### String methods
Here are some of the most common string methods. A method is like a function, but it runs "on" an object. If the variable s is a string, then the code s.lower() runs the lower() method on that string object and returns the result (this idea of a method running on an object is one of the basic ideas that make up Object Oriented Programming, OOP). Here are some of the most common string methods:

lower(), upper(), strip(), isdigit(), startswith(), endswith(), find(), replace(), split(), join()

[Documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)

Convert all letters to lower cases.

In [43]:
# TODO
s = 'RED FISH'
print(s.lower())

red fish

Check if string starts with `r`

In [45]:
# TODO
s = 'Run Up Escalators'
s.startswith("r")

False

Find the index of the single quote.

In [47]:
# TODO
s = "You don't have to lie."
s.find("\'")

7

## Type casting
The process of converting the value of one data type to another is called type casting or type conversion.

Cast variable `z` to `int` and print its type.

In [51]:
# TODO
z = int(2.1)
print(z)

2

Are the types of 1 + 2 and 1.0 + 2 the same?

In [55]:
# TODO

# No
x = 1+2
type(x)

y = 1.0+2
type(y)

float

Add num_int and num_str, you should provide two outputs. One is a string and the other is an int.

In [58]:
# TODO
num_int = 123
num_str = "456"
x = num_int + int(num_str)
print(x)

y = str(num_int) + num_str
print(y)

579
123456

What happends if you cast `-1` to a boolean?

In [59]:
# TODO
bool(-1)

True

## Standard Library
Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. 

For example, the `math` module gives access to the underlying C library functions for floating point math.

[Documentation](https://docs.python.org/3/library/math.html)
<br>
<br>

Import math module and calcualte $e^4$.

In [60]:
# TODO
import math
math.exp(4)

54.598150033144236

Calculate the value of $log_2(8)$.

In [61]:
# TODO
import math
math.log2(8)

3.0

Calculate the value of $\sqrt{100}$.

In [62]:
# TODO
import math
math.sqrt(100)

10.0

## Submission

Download completed **Week2_PythonProgramming_Homework.ipynb** from Google Colab and commit to your personal Github repo you shared with the faculty.