# Week3 Python Programming

In week3, we've covered:
* **Data structures**:
    * List
    * Tuples
    * Dictionary
* **Function**:
    * Define function without parameter
        * **def** func():
    * Define function with parameter
        * **def** func(param):
* **Control flow**:
    * if, elif, else
    * for
    * while

The best way to consolidate the knowledge in your mind is by practicing.<br>Please complete the part marked with <span style="color:green">**# TODO**</span>.

[Google](www.google.com) and [Python Documentation](https://docs.python.org/3/contents.html) are your good friends if you have any python questions.

Upload **Week3_PythonProgramming_Homework.ipynb** notebook to your Google Drive and open it with Google Colab

# List
[List Documentation](https://www.w3schools.com/python/python_lists.asp)

### 1. Fill the ___ parts of code below

In [0]:
# TODO
# Let's create an empty list
my_list = []

# Let's add some values
my_list.append('Python')
my_list.append('is ok')
my_list.append('sometimes')

# Let's remove 'sometimes'
my_list.remove('sometimes')

# Let's change the second item
my_list[1] = 'is neat'

print(my_list)

['Python', 'is neat']

In [0]:
# Let's verify that it's correct
assert my_list == ['Python', 'is neat']

### 2. Create a new list without modifiying the original one

In [0]:
original = ['I', 'am', 'learning', 'hacking', 'in']

In [0]:
# TODO
modified = list(original)
modified[3] = 'lists'
modified.append('Python')
print(original)
print(modified)

['I', 'am', 'learning', 'hacking', 'in']
['I', 'am', 'learning', 'lists', 'in', 'Python']

In [0]:
assert original == ['I', 'am', 'learning', 'hacking', 'in']
assert modified == ['I', 'am', 'learning', 'lists', 'in', 'Python']

### 3. Create a merged sorted list

In [0]:
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]

In [0]:
# TODO
my_list = list1 + list2 + list3
my_list.sort(reverse=True)
print(my_list)

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

In [0]:
print(my_list)
assert my_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

### 4. Loop through a list  
[For Loops Documentation](https://www.w3schools.com/python/python_for_loops.asp)  
[While Loops Documentation](https://www.w3schools.com/python/python_while_loops.asp)

Loop through a list and check:
* If an item is a float, cast the float to int.
* If an item is an int, cast the int to float
* Hint: use isinstance()

In [17]:
loop_list1 = [1101, 704.971, 'Fort Mill']
# TODO 
# use for loop
i = 0
for x in loop_list1:
  if isinstance(x, int) == True:
    loop_list1[i] = float(x)
  elif isinstance(x, float) == True:
    loop_list1[i] = int(x)
  i = i + 1
print(loop_list1)

[1101.0, 704, 'Fort Mill']

In [18]:
print(loop_list1)
assert loop_list1 == [1101.0, 704, 'Fort Mill']

[1101.0, 704, 'Fort Mill']

In [25]:
loop_list2 = [1101, 704.971, 'Fort Mill']
# TODO
# use while loop
i = 0
  
while i < len(loop_list2):
  if isinstance(loop_list2[i], int) == True:
    loop_list2[i] = float(loop_list2[i])
    #print('went here')
  elif isinstance(loop_list2[i], float) == True:
    loop_list2[i] = int(loop_list2[i])
    #print('then here')
  i += 1
print(loop_list2)

[1101.0, 704, 'Fort Mill']

In [26]:
print(loop_list2)
assert loop_list2 == [1101, 704, 'Fort Mill']

[1101.0, 704, 'Fort Mill']

# Tuples
[Tuples Documentation](https://www.w3schools.com/python/python_tuples.asp)

### 1. Fill the ___ parts of code below

In [29]:
# TODO
# create a tuple with items of different data types
my_tuple = (1, 2.0, 'Jake')
print(my_tuple, type(my_tuple))

# Unpack my_tuple in several variables
___= my_tuple
#not sure what this is asking me to do here?

# convert my_tuple to list and assign to variable my_list
my_list = list(my_tuple)
print(my_list, type(my_list))

# convert my_list to tuple and assign to variable my_new_tuple
my_new_tuple = tuple(my_list)
print(my_new_tuple, type(my_new_tuple))

(1, 2.0, 'Jake') <class 'tuple'>
[1, 2.0, 'Jake'] <class 'list'>
(1, 2.0, 'Jake') <class 'tuple'>

### 2. Check the immutable property of tuple

In [39]:
# TODO
rv_tuple = 1101, 'Red', 'Ventures', 'Drive'
print(rv_tuple, type(rv_tuple))
# check id
print(id(rv_tuple))
# modify the variable
rv_tuple = rv_tuple + (29707, )
print(rv_tuple, type(rv_tuple))
# check id
print(id(rv_tuple))

# TODO
# Do the same exercises as above for a list and see the difference
# Remember list is muttable

rv_list = [1101, 'Red', 'Ventures', 'Drive']
print(rv_list, type(rv_list))
# check id
print(id(rv_list))
# modify the variable
rv_list.append(29707)
print(rv_list, type(rv_list))
# check id
print(id(rv_list))

(1101, 'Red', 'Ventures', 'Drive') <class 'tuple'>
140049472990088
(1101, 'Red', 'Ventures', 'Drive', 29707) <class 'tuple'>
140049482412544
[1101, 'Red', 'Ventures', 'Drive'] <class 'list'>
140049471979080
[1101, 'Red', 'Ventures', 'Drive', 29707] <class 'list'>
140049471979080

### 3. Define Functions  

[Functions Documentation](https://www.w3schools.com/python/python_functions.asp)

Write a function that accepts a string and return the number of uppercase letters and lowercase letters.

In [61]:
# TODO
def check_case(phrase):
  
    lowercase_count = 0
    uppercase_count = 0
    
    for letters in phrase:
      if letters.islower():
        #print(letters)
        lowercase_count += 1
    #print("Lowercase Letters: " + str(lowercase_count))
    
    for letters in phrase:
      if letters.isupper():
        #print(letters)
        uppercase_count += 1
    #print("Uppercase Letters: " + str(uppercase_count))
    
    uppercase_number = uppercase_count
    lowercase_number = lowercase_count
    
    return uppercase_number, lowercase_number
  
check_case("This is Week3 Python Programming Homework.")

(5, 30)

In [0]:
my_string = "This is Week3 Python Programming Homework."
assert check_case(my_string)[0] == 5
assert check_case(my_string)[1] == 30

## Dictionary
[Dictionary Documentation](https://www.w3schools.com/python/python_dictionaries.asp)

### 1. Fill the ___ parts of code below

In [64]:
# TODO
# create an empty dictionary
my_dict = {}
print(my_dict, type(my_dict))

# create a dictionary with values
my_dict = {"army": "Grey Knights",
          "faction": "Imperium",
          "category": "Space Marine"}
print(my_dict, type(my_dict))

# add key/value to my_dict
my_dict["color"] = "Grey"
print(my_dict)

# remove the key you added from my_dict
my_dict.pop("color")
print(my_dict)

{} <class 'dict'>
{'army': 'Grey Knights', 'faction': 'Imperium', 'category': 'Space Marine'} <class 'dict'>
{'army': 'Grey Knights', 'faction': 'Imperium', 'category': 'Space Marine', 'color': 'Grey'}
{'army': 'Grey Knights', 'faction': 'Imperium', 'category': 'Space Marine'}

### 2. Sort Dictionary

Print out key/value pair by the ascending order of keys.

In [67]:
# TODO
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
sorted(location_dict.values())

['CA', 'NC', 'NY', 'TX']

Display the location_dict by the desending order of values.

In [68]:
# TODO
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
sorted(location_dict)

['Austin', 'Charlotte', 'Los Angeles', 'New York']

## Set

Though `set` is not covered in the video materials, it is also one of the major data structures in Python.

[Set Documentation](https://www.w3schools.com/python/python_sets.asp)

### 1. Fill the ____ parts of code below

In [74]:
# TODO
# create an set
my_set = set()
print(my_set, type(my_set), '\n')

# create a set with values
my_set = {"apple", "banana", "cherry"}
print(my_set, type(my_set), '\n')

# add a new value to my_set
# the value should be a different
my_set.add("orange")
print(my_set, '\n')


# remove the value you added from my_set
my_set.remove("orange")
print(my_set, '\n')

set() <class 'set'>

{'apple', 'cherry', 'banana'} <class 'set'>

{'apple', 'cherry', 'orange', 'banana'}

{'apple', 'cherry', 'banana'}

### 2. Set Manipulation

Use a list  with duplicated values and a tuple to create two sets respectivley, and get a union set between those two.

In [89]:
# TODO
myList = ["Necrons","Grey Knights","Tau"]
print(myList)
#type(myList)

myTuple = ("Chaos","Eldar","Orks")
print(myTuple)
#type(myTuple)

setOne = set(myList)
setTwo = set(myTuple)

setUnion = set()
setUnion = setOne|setTwo
# or could do: setUnion = setOne.union(setTwo)
print(setUnion)
type(setUnion)

['Necrons', 'Grey Knights', 'Tau']
('Chaos', 'Eldar', 'Orks')
{'Tau', 'Chaos', 'Grey Knights', 'Orks', 'Necrons', 'Eldar'}

set

Create two sets `my_set1` and `my_set2`, and get values in `my_set1` but not in `my_set2`.

In [94]:
# TODO

#not totally sure I understand the directions here
my_set1 = {"apple","banana","cherry"}
my_set2 = {"yay","mmm","woohoo"}

my_set3 = set(my_set1)

for fruits in my_set3:
  print(fruits)

apple
cherry
banana

## Submission

Download completed **Week3_PythonProgramming_Homework.ipynb** from Google Colab and commit to your personal Github repo you shared with the faculty.